body {
    font-family: Arial;
    background: #f4f4f4;
}

form {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    background: #2ecc71;
    color: white;
    border: none;
}
